.location {
  padding-bottom: 96px;
}

.location .container {
  max-width: 1232px;
}

.location__flex {
  display: flex;
  position: relative;
}

.location__box {
  width: 100%;
  max-width: 533px;
  padding: 66px 56px 47px 46px;
  background: #fff;
  box-shadow: 17px 8px 54px 0px rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.location__wrapper {
  width: 100%;
  max-width: 400px;
}

.location__text {
  color: $text-color;
  font-size: 14px;
  opacity: 0.4;
}

.location__text:not(:first-child) {
  display: block;
  margin-top: 53px;
}

.location__title {
  color: $black-color;
  font-size: 24px;
  line-height: 125%;
  margin-top: 4px;
}

// hover button styles
.location__btn {
  @include reset-btn;
  padding: 13px 23px;
  margin-top: 24px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.location__btn-icon {
  display: inline-flex;
  margin-right: 5px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.location__btn-new-icon {
  display: inline-flex;
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  margin-right: 8px;
}

.location__btn:hover .location__btn-icon {
  transform: translateX(200%);
  opacity: 0;
}

.location__btn:hover .location__btn-new-icon {
  transform: translateX(140%);
}

.location__btn path {
  fill: $orange;
}

.location__social-icons {
  margin-top: 12px;
}

.location__social-link {
  text-decoration: none;
  font-size: 21px;
  color: $text-color;
}

.location__social-link:not(:first-child) {
  margin-left: 42px;
}

.location__order {
  color: $text-color;
  font-size: 16px;
  margin-top: 44px;
}

.location__email-box {
  margin-top: 18px;
  border-radius: 12px;
  border: 1px solid #eee;
  padding: 8px 4px 8px 27px;
  display: flex;
  align-items: center;
}

.location__inp {
  width: 100%;
  max-width: 340px;
  outline: none;
  border: none;
}

.location__arrow {
  border-radius: 10px;
  border: 1px solid $text-color;
  padding: 11px 15px;
  background: none;
  cursor: pointer;
  margin-left: 10px;
}

.location__address {
  position: relative;
  width: 100%;
  height: 400px;
  left: -90px;
  border-radius: 1301px;
  overflow: hidden;
}

.location__address-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0) 0%,
    #fff 100%
  );
}

.location__img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
