.faqs {
  padding-top: 120px;
  padding-bottom: 49px;
}

.faqs .container {
  display: flex;
  align-items: center;
  max-width: 1300px;
}

.faqs__wrapper {
  max-width: 588px;
  flex-wrap: 1;
}

.faqs__title {
  color: $font-color;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 12px;
}

.faqs__text {
  color: #1f1e14;
  font-size: 16px;
  line-height: 160%;
}

.faqs__content {
  width: 100%;
  max-width: 540px;
  display: inline-flex;
  margin-top: 35px;
  justify-content: space-between;
  gap: 10px;
}

.faqs__box {
  color: #282a2c;
  font-size: 22px;
  font-weight: 500;
}

.faqs__titul {
  display: block;
  color: #282a2c;
  font-size: 13px;
  opacity: 0.5;
}

.faqs__img {
  margin-left: 10px;
}

@media screen and (max-width: 950px) {
  .faqs .container {
    flex-wrap: wrap;
  }

  .faqs__content {
    flex-wrap: wrap;
    grid-row-gap: 20px;
  }
}

@media screen and (max-width: 425px) {
  .faqs {
    padding-bottom: 20px;
  }

  .faqs__title {
    font-size: 18px;
  }

  .faqs__text {
    font-size: 14px;
  }

  .faqs__img {
    position: relative;
    top: -40px;
    margin-left: 0;
  }
}
