.header {
  padding-top: 14px;
}

.header__nav {
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 25px;
}

.header__ul {
  display: flex;
  list-style: none;
}

.header__list:not(:first-child) {
  margin-left: 20px;
}

.header__link {
  color: $text-color;
  font-size: 12px;
  text-decoration: none;
}

.header__bottom {
  width: 100%;
  background-color: $light;
  &.sticky {
    position: fixed;
    top: 0;
    z-index: 100;
    padding: 15px 0;
  }
}

.header__flex {
  display: flex;
  align-items: center;
}

.header__logo {
  color: $text-color;
  font-size: 24px;
  font-weight: 800;
  text-decoration: none;
}

.header__content {
  width: 100%;
  max-width: 520px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid #eee;
  padding: 4px 4px 4px 4px;
  margin-left: 35px;
}

.header__bottom-flex {
  margin-left: auto;
}

.header__downMenu {
  position: relative;
}

.header__menu {
  display: none;
  position: absolute;
  border-radius: 12px;
  right: -190px;
  z-index: 100;
}

.header__downMenu:hover .header__menu {
  display: block;
}

.header__menu-ul {
  list-style-type: none;
}

.header__downBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 11px 16px;
  font-size: 14px;
  font-weight: 600;
  color: $text-color;
  &:hover {
    border-radius: 40px;
    background: $bg-color;
  }
}

.header__megaMenu {
  display: flex;
  gap: 20px;
  border-radius: 12px;
  border: 1px solid #eee;
  padding: 35px;
  background-color: $light;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin-top: 3px;
}

.header__megaMenu ul {
  list-style: none;
}

.header__menu-link {
  color: $text-color;
  padding: 12px 16px;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    border-radius: 40px;
    background: $bg-color;
  }
}

.header__menu-list:not(:first-child) {
  margin-top: 30px;
}

.header__category {
  padding: 10px 23px;
  @include reset-btn;
  margin-left: auto;
  text-decoration: none;
}

.header__short-text {
  display: none;
}

.header__bottom-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header__actions-wrapper {
  display: flex;
  align-items: center;
}

.header__actions {
  border: none;
  background: transparent;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  &:not(:first-child) {
    margin-left: 40px;
  }
}

.header__search {
  @include style-btn;
}

.header__hidden-search {
  @include style-btn;
  display: none;
}

.header__actions-number {
  color: $orange;
  font-size: 16px;
  font-weight: 500;
  line-height: 108.5%;
  margin-left: 6px;
}

.header__login {
  padding: 13px 23px;
  @include reset-btn;
  margin-left: 36px;
}

.header__hidden-login {
  padding: 13px 23px;
  @include reset-btn;
  margin-left: auto;
  display: none;
}

.header__search-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-right: 0;
  border: 1px solid transparent;
}

.header__actions-visible {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  border: 1px solid #eee;
  background: $bg-color;
  border-radius: 100px;
  padding: 10px 20px;
  margin-right: 20px;
}

.header__input {
  width: 0;
  overflow: hidden;
  transition: width 0.5s ease;
  border: none;
  background: transparent;
  outline: none;
  padding-right: 5px;
  &.visible {
    width: 100%;
    max-width: 180px;
  }
}

.header__input::placeholder {
  color: #33333366;
}

.header__hidden-inp {
  display: none;
}

.header__mobile-flex {
  display: none;
}

.header__short-logo {
  color: #2a2523;
  font-size: 30px;
  font-weight: 800;
  text-decoration: none;
}

@media screen and (max-width: 1255px) {
  .header__content {
    max-width: 520px;
    gap: 5px;
  }

  .header__login {
    display: none;
  }

  .header__hidden-login {
    display: block;
  }

  .header__actions-visible {
    padding: 10px 15px;
    margin-right: 0;
  }

  .header__input {
    &.visible {
      max-width: 140px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .header__content {
    max-width: 450px;
    gap: 5px;
    margin-left: 20px;
  }

  .header__downBtn {
    padding: 11px;
  }

  .header__actions {
    &:not(:first-child) {
      margin-left: 25px;
    }
  }
}

@media screen and (max-width: 960px) {
  .header__nav {
    display: none;
  }

  .header__hidden-search {
    display: block;
  }

  .header__flex {
    flex-direction: column-reverse;
  }

  .header__content {
    width: 100%;
    max-width: 500px;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-left: 0;
    gap: 20px;
    margin-top: 20px;
    padding-right: 20px;
    &.sticky {
      margin-top: 150px;
    }
  }

  .header__bottom-right {
    display: flex;
    flex-direction: column;
    padding: 10px 0 21px 0;
    width: 100%;
    z-index: 60;
    background-color: $light;
    &.sticky {
      position: fixed;
      top: 0;
      padding: 20px 20px;
    }
  }

  .header__bottom {
    &.sticky {
      position: static;
    }
  }

  .header__category {
    padding: 10px 11px;
    margin-right: 0;
    margin-left: 0;
  }

  .header__downBtn {
    font-size: 11px;
    padding: 0;
  }

  .header__search-container {
    margin-right: 40px;
    display: none;
  }

  .header__actions:not(:first-child) {
    margin-left: 40px;
  }

  .header__full-text {
    display: none;
  }

  .header__short-text {
    display: inline;
  }

  .header__mobile-flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 40px 0;
    background-color: $light;
  }

  .header__mobile-btn {
    @include reset-btn;
    padding: 11px 16px;
    gap: 29px;
  }

  .header__login {
    display: none;
  }

  .header__logo {
    display: none;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 425px) {
  .header__content {
    padding-right: 8px;
  }
}
