.header {
  padding-top: 14px;
}

.header__nav {
  padding-left: 10px;
}

.header__ul {
  display: flex;
  list-style: none;
}

.header__list:not(:first-child) {
  margin-left: 20px;
}

.header__link {
  color: $text-color;
  font-size: 12px;
  text-decoration: none;
}

.header__bottom {
  display: flex;
  align-items: center;
  padding-top: 25px;
  background-color: $light;
}

.header__bottom-sticky {
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 15px 0;
  background-color: $light;
  width: 100%;
  max-width: 1340px;
}

.header__logo {
  color: $text-color;
  font-size: 24px;
  font-weight: 800;
  text-decoration: none;
}

.header__content {
  width: 100%;
  max-width: 520px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid #eee;
  padding: 4px 4px 4px 4px;
  margin-left: 35px;
}

.header__downMenu {
  position: relative;
}

.header__menu {
  display: none;
  position: absolute;
  border-radius: 12px;
  right: -190px;
  z-index: 100;
}

.header__downMenu:hover .header__menu {
  display: block;
}

.header__menu-ul {
  list-style-type: none;
}

.header__downBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 11px 16px;
  font-size: 14px;
  font-weight: 600;
  color: $text-color;
  &:hover {
    border-radius: 40px;
    background: $bg-color;
  }
}

.header__megaMenu {
  display: flex;
  gap: 20px;
  border-radius: 12px;
  border: 1px solid #eee;
  padding: 35px;
  background-color: $light;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin-top: 3px;
}

.header__megaMenu ul {
  list-style: none;
}

.header__menu-link {
  color: $text-color;
  padding: 12px 16px;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    border-radius: 40px;
    background: $bg-color;
  }
}

.header__menu-list:not(:first-child) {
  margin-top: 30px;
}

.header__category {
  padding: 10px 23px;
  @include reset-btn;
  margin-left: auto;
  text-decoration: none;
}

.header__bottom-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header__actions {
  border: none;
  background: transparent;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  &:not(:first-child) {
    margin-left: 40px;
  }

  &:nth-child(2) {
    margin-left: 20px;
  }
}

.header__search {
  @include style-btn;
  padding-right: 19px;
}

.header__actions-number {
  color: $orange;
  font-size: 16px;
  font-weight: 500;
  line-height: 108.5%;
  margin-left: 6px;
}

.header__login {
  padding: 13px 23px;
  @include reset-btn;
  margin-left: 36px;
}

.header__actions-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.header__actions-visible {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  border: 1px solid #eee;
  background: $bg-color;
  border-radius: 100px;
  padding: 10px 0 10px 20px;
}

.header__input-container {
  width: 0;
  overflow: hidden;
  transition: width 0.5s ease;
}

.header__input-container.visible {
  width: 100%;
  max-width: 200px;
}

.header__input {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  padding-right: 5px;
}

.header__input::placeholder {
  color: #33333366;
}
