.clients {
  padding-top: 50px;
  padding-bottom: 181px;
}

.clients .container {
  max-width: 1500px;
  padding: 0;
}

.clients__container {
  max-width: 1380px;
  padding: 0 20px;
  margin: 0 auto;
}

.clients__main {
  background: #fff;
  box-shadow: 14px 11px 134px 0px rgba(60, 68, 99, 0.05);
}

.clients__title {
  display: block;
  color: $black-color;
  font-size: 24px;
  margin-bottom: 28px;
}

.clients__wrapper {
  background: #fff;
  box-shadow: 14px 11px 134px 0px rgba(60, 68, 99, 0.05);
  padding: 44px 52px;
  margin-left: 20px;
}

.clients__text {
  max-width: 250px;
  color: #5b5b5b;
  font-size: 18px;
  font-weight: 400;
  line-height: 158%;
}

.clients__box {
  display: inline-flex;
  align-items: center;
  margin-top: 28px;
}

.clients__content {
  margin-left: 12px;
}

.clients__content span {
  color: #1f1814;
  font-size: 16px;
  line-height: 158%;
}

.clients__content p {
  color: #1f1814;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 108.5%;
  opacity: 0.4;
}

.logo {
  margin-top: 243px;
}

.logo__img {
  object-fit: cover;
}

.logo__wrapper {
  margin-left: 49px;
}

@media screen and (max-width: 768px) {
  .clients__wrapper {
    padding: 30px 40px;
  }
}

@media screen and (max-width: 425px) {
  .clients {
    padding-bottom: 120px;
  }

  .clients__title {
    font-size: 18px;
  }

  .logo {
    margin-top: 100px;
  }

  .logo__wrapper {
    margin-left: 20px;
  }
}
