.product__ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
  gap: 60px 20px;
  list-style: none;
}

.product__bottom {
  padding-top: 120px;
}

@media screen and (max-width: 425px) {
  .product__ul {
    display: flex;
    gap: 8px;
    overflow-x: auto;
  }

  .product__ul::-webkit-scrollbar {
    width: 0;
  }
}
