.clents {
  padding-top: 45px;
  padding-bottom: 181px;
}

.clents .container {
  max-width: 1500px;
}

.clents__container {
  max-width: 1380px;
  padding: 0 20px;
  margin: 0 auto;
}

.clents__main {
  margin-left: -20px;
}

.clents__title {
  display: block;
  color: #121212;
  font-family: "sf-medium";
  font-size: 24px;
  margin-bottom: 28px;
}

.clents__wrapper {
  background: #fff;
  box-shadow: 14px 11px 134px 0px rgba(60, 68, 99, 0.05);
  padding: 57px 52px 44px 52px;
  margin-left: 20px;
}

.clents__text {
  max-width: 250px;
  color: #5b5b5b;
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 400;
  line-height: 158%;
}

.clents__box {
  display: inline-flex;
  align-items: center;
  margin-top: 28px;
}

.clents__content {
  margin-left: 12px;
}

.clents__content span {
  color: #1f1814;
  font-family: "sf-medium";
  font-size: 16px;
  line-height: 158%;
}

.clents__content p {
  color: #1f1814;
  font-family: "Times New Roman";
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 108.5%;
  opacity: 0.4;
}

.logo {
  margin-top: 243px;
}

.logo__img {
  margin-left: 49px;
}
