.image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.img {
  position: relative;
  width: 611px;
  height: 100%;
  padding: 30px 78px;
  object-fit: cover;
  transform: scale(var(--zoom, 1));
  transform-origin: var(--x) var(--y);
  transition: transform 0.3s ease;
  cursor: zoom-in;
}

.image:hover {
  --zoom: 2;
}

.item__block {
  padding: 0;
}

@media screen and (max-width: 1060px) {
  .img {
    padding: 30px 30px;
  }
}

@media screen and (max-width: 950px) {
  .img {
    width: 800px;
  }
}
