.clothes {
  padding: 47px 0 119px 0;
}

.clothes__content {
  display: flex;
}

.clothes__box {
  display: inline-flex;
  align-items: center;
  background: $bg-color;
  padding: 75px 23px 31px 40px;
}

.clothes__wrapper {
  display: block;
  max-width: 335px;
}

.clothes__text {
  color: $font-color;
  font-size: 16px;
  opacity: 0.5;
  margin-bottom: 4px;
}

.clothes__title {
  color: $font-color;
  font-size: 32px;
  margin-bottom: 14px;
}

.clothes__price {
  color: #ff2828;
  font-size: 16px;
}

.clothes__link-box {
  margin-top: 191px;
}

.clothes__link {
  position: relative;
  color: #121212;
  font-size: 14px;
  line-height: 108.5%;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.clothes__img {
  transition: 0.5s;
  &:hover {
    transform: scale(1.1);
  }
}

.clothes__boxes {
  margin-left: 20px;
  flex-grow: 1;
}

.clothes__product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $bg-color;
  font-weight: 500;
  padding: 14px 42px 0 42px;
  overflow: hidden;
}

.clothes__subname {
  color: $font-color;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 12px;
}

.clothes__price-text {
  color: #72a900;
  font-size: 16px;
}

.clothes__product-wrapper {
  margin-top: 60px;
}

.clothes__product-box {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.clothes__product-bottom {
  display: inline-flex;
  background: $bg-color;
  padding: 46px 19px 26px 26px;
}

.clothes__product-bottom:not(:first-child) {
  margin-left: 20px;
}

.clothes__product-text {
  max-width: 151px;
}

// hover button styles
.clothes__btn {
  color: $black-color;
  font-size: 14px;
  background-color: transparent;
  line-height: 108.5%;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.clothes__btn-icon {
  display: inline-flex;
  margin-right: 5px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.clothes__btn-new-icon {
  display: inline-flex;
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  margin-right: 8px;
}

.clothes__btn:hover .clothes__btn-icon {
  transform: translateX(250%);
  opacity: 0;
}

.clothes__btn:hover .clothes__btn-new-icon {
  transform: translateX(20%);
}

@media screen and (max-width: 1200px) {
  .clothes__content {
    flex-wrap: wrap;
    gap: 20px;
  }

  .clothes__box {
    justify-content: space-between;
    width: 100%;
    flex-wrap: 1;
    padding: 75px 23px 31px 40px;
  }

  .clothes__product-bottom {
    display: inline-flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 46px 19px 26px 26px;
  }

  .clothes__boxes {
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .clothes__box {
    padding: 40px 25px 25px 30px;
  }

  .clothes__text {
    font-size: 12px;
  }

  .clothes__title {
    font-size: 20px;
  }

  .clothes__price {
    font-size: 12px;
  }

  .clothes__link-box {
    margin-top: 80px;
  }

  .clothes__subname {
    font-size: 16px;
  }

  .clothes__product {
    padding: 40px 25px 0 30px;
  }

  .clothes__price-text {
    font-size: 12px;
  }

  .clothes__product-wrapper {
    margin-top: 30px;
  }
}

@media screen and (max-width: 475px) {
  .clothes__title {
    font-size: 16px;
  }

  .clothes__link-box {
    margin-top: 40px;
  }

  .clothes__btn {
    font-size: 12px;
  }
}
