/* Custom Font Definitions */
@font-face {
  font-family: "sf-regular";
  src: url("/Sfpro/SFPRODISPLAYREGULAR.OTF") format("opentype");
}

@font-face {
  font-family: "sf-medium";
  src: url("/Sfpro/SFPRODISPLAYMEDIUM.OTF") format("opentype");
}

@font-face {
  font-family: "sf-semibold";
  src: url("/Sfpro/SFPRODISPLAYSEMIBOLDITALIC.OTF") format("opentype");
}

@font-face {
  font-family: "sf-bold";
  src: url("/Sfpro/SFPRODISPLAYSEMIBOLDITALIC.OTF") format("opentype");
}
