.hero {
  padding-top: 22px;
}

.hero__scroll {
  padding-top: 75px;
}

.hero__div {
  background: #efe9e9;
}

.hero__box {
  width: 100%;
  height: 490px;
}

.hero__main {
  width: 85%;
  display: flex;
  justify-content: space-between;
  padding-left: 70px;
}

.hero__wrapper {
  max-width: 600px;
  margin-top: 91px;
}

.hero__title {
  color: $black-color;
  font-size: 56px;
}

.hero__text {
  max-width: 420px;
  color: $text-color;
  font-size: 16px;
  margin-top: 11px;
}

// hover button styles
.hero__btn {
  margin-top: 24px;
  color: $black-color;
  border-radius: 100px;
  padding: 13px 23px;
  border: 1px solid $black-color;
  font-size: 14px;
  background-color: transparent;
  line-height: 108.5%;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.hero__btn-icon {
  display: inline-flex;
  margin-right: 8px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.hero__btn-new-icon {
  display: inline-flex;
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  margin-right: 8px;
}

.hero__btn:hover .hero__btn-icon {
  transform: translateX(250%);
  opacity: 0;
}

.hero__btn:hover .hero__btn-new-icon {
  transform: translateX(150%);
}

// carousel
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  width: 100%;

  justify-content: space-between;
  font-size: 18px;
  background: #efe9e9;
}

.hero__first-img {
  position: relative;
  width: 380px;
  height: 480px;
  margin-top: 8px;
}

.hero__img {
  position: absolute;
  right: calc(23%);
  top: calc(50%);
}

.swiper-pagination {
  padding-right: 23px;
}

.swiper-pagination-bullet-active {
  background-color: $black-color;
}

@media screen and (max-width: 425px) {
  .hero {
    padding-top: 32px;
  }

  .hero__scroll {
    padding-top: 300px;
  }

  .hero__box {
    height: 270px;
  }

  .hero__main {
    width: 100%;
    padding-left: 20px;
  }

  .hero__wrapper {
    margin-top: 40px;
  }

  .hero__title {
    font-size: 24px;
  }

  .hero__text {
    font-size: 11px;
  }

  .hero__first-img {
    height: 270px;
    margin-left: 20px;
  }

  .hero__img {
    display: none;
  }
}
