.item {
  padding-top: 27px;
  padding-bottom: 72px;
  &.scroll {
    padding-top: 75px;
  }
}

.item__flex {
  margin-bottom: 28px;
  overflow-x: auto;
  white-space: nowrap;
  &::-webkit-scrollbar {
    width: 0;
  }
}

.item__line {
  display: inline-flex;
  align-items: center;
  color: #9d9d9d;
  font-size: 14px;
  line-height: 108.5%;
}

.item__main {
  display: flex;
  width: 87%;
  gap: 20px;
}

.item__wrapper {
  width: 100px;
  padding: 25px 16px;
  @include bg-color;
  border: 1px solid $bg-color;
  &.clicked {
    border: 1px solid $orange;
  }
}

.item__main-box {
  display: flex;
}

.item__main-flex {
  display: grid;
  gap: 18px;
}

.item__block {
  @include bg-color;
  margin-left: 18px;
}

.item__block-right {
  margin-left: auto;
}

.item__spn {
  @include text-color;
}

.item__title {
  margin-top: 20px;
  color: $font-color;
  font-size: 32px;
}

.item__del {
  color: $font-color;
  font-size: 20px;
  opacity: 0.3;
  margin-top: 5px;
}

.item__block-text {
  display: block;
  color: $font-color;
  font-size: 20px;
  margin-top: 31px;
}

.item__block-number {
  margin-top: 24px;
}

.item__number {
  color: $font-color;
  padding: 11px 12px;
  font-size: 14px;
  background: $bg-color;
  border-radius: 3px;
  border: 1px solid $bg-color;
  cursor: pointer;
}

.item__number.active {
  border: 1px solid $orange;
}

.item__number:not(:first-child) {
  margin-left: 5px;
}

.item__buttons {
  display: flex;
}

.item__button {
  border: none;
  display: inline-flex;
  padding: 16px 26px;
  justify-content: center;
  align-items: center;
  gap: 7px;
  font-size: 14px;
  border-radius: 100px;
  background: $orange;
  color: $light;
  margin-top: 30px;
  cursor: pointer;
}

.item__button path {
  fill: $light;
}

.item__button:not(:first-child) {
  background: $bg-color;
  color: $text-color;
  margin-left: 10px;
}

.item__div {
  margin-top: 34px;
}

.item__div-flex {
  display: flex;
  margin-bottom: 7px;
}

.item__tabs {
  margin-top: 65px;
}

.item__tabs-ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.item__tabs-list {
  color: #282a2c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  letter-spacing: -0.39px;
  padding: 16px 16px;
  width: 100%;
  max-width: 235px;
  cursor: pointer;
  border-bottom: 1px solid rgba(40, 40, 40, 0.1);
  &.active {
    background: $bg-color;
    border-bottom: 2px solid #f8501a;
  }
}

.item__tabs-box {
  padding-top: 48px;
  padding-bottom: 96px;
}

// tabs text
.item__content {
  display: flex;
  gap: 30px;
  list-style: none;
}

.item__content-text {
  display: block;
  color: #282a2c;
  font-size: 13px;
  &:not(:first-child) {
    margin-top: 16px;
  }
}

@media screen and (max-width: 960px) {
  .item {
    &.scroll {
      padding-top: 20px;
    }
  }
}

@media screen and (max-width: 950px) {
  .item__main {
    display: flex;
    flex-direction: column;
  }

  .item__block-right {
    margin-left: 0;
  }
}

@media screen and (max-width: 550px) {
  .item__main-box {
    display: flex;
    flex-direction: column-reverse;
  }

  .item__main-flex {
    display: flex;
    gap: 8px;
    margin-top: 8px;
  }

  .item__block {
    margin-left: 0;
    padding: 0 40px;
  }

  .item__wrapper {
    width: 120px;
  }
}

@media screen and (max-width: 425px) {
  .item__wrapper {
    padding: 4px 2px;
  }

  .item__content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }

  .item__content li:nth-child(even) {
    text-align: right;
  }
}
